.Weather {
  color: blue;
  /* border: 1px solid blue; */
}

.Weather h1 {
  text-align: right;
}

.Weather ul {
  text-align: left;
  color: blue;
  padding-inline-start: 0px;
  margin-top: 120px;
}

.Weather form {
  text-align: center;
  margin-top: 100px;
}

.input-city {
  border: 3px solid magenta;
}

.search-city {
  background: magenta;
  color: white;
  border: 2px solid magenta;
  margin-left: 25px;
}

.city-col {
  /* border: 1px dotted magenta; */
  margin: 10px;
  margin-top: 50px;
  display: block;
}

.des-col {
  /* border: 1px dotted blueviolet; */
  margin: 10px;
}
.WeatherInfo .temp-icon {
  width: 170px;
}

.Weather canvas {
  margin-left: 100px;
  margin-right: 10px;
}

.WeatherInfo .temperature {
  font-size: 60px;
  line-height: 60px;
}

.WeatherInfo .unit {
  font-size: 20px;
  position: relative;
  line-height: 1;
  top: -30px;
}
