.WeatherForecast {
  text-align: center;
  margin: 20px 0;
}

.WeatherForecast canvas {
  display: block;
  margin: 10px auto;
}

.WeatherForecastPreview .hours {
  font-weight: bold;
}

.WeatherForecastPreview {
  margin-top: 50px;
}
